html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

p {
    border: 2px solid white;
    height: auto;
    width: 50%;
    overflow: hidden;
    /* margin-left: 27%; */
    border: none;
    background-color: rgb(177, 177, 177);
    padding: 2ch;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

p::selection {
    color: aqua;
    background-color: black;
}

aside {
    width: 20%;
    float: left;
    padding: 10px;
}

section {
    width: 50%;
    float: left;
    padding: 10px;

}

article {
    width: 30%;
    float: left;
    padding: 10px;
}

.grid-container {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr 0.3fr;
    grid-template-rows: 2fr 3fr 2fr 6fr 6fr 2fr;
    /* fr unit = fraction of the size of the webpage */
    row-gap: 10px;
    column-gap: 10px;
    

    /* justify-items: center; */
    /* align-items: end ; */
    /* Play with the text-boc relation */
}

.grid-item {
    background-color:none;
    border: 4px;
    text-align: center;
    
    
}

#item1 {
    grid-row: 1;
    grid-column: 3;
    grid-column-start: 1;
    grid-column-end: 9;

    /*  1=first place 4=forth place*/
}
#item2 {
    grid-row: 2;
    grid-column: 3;
    grid-column-start: 1;
    grid-column-end: 9;
    text-align: left;
    color:rgb(175, 248, 248);


    /*  1=first place 4=forth place*/
}

#item3 {
    grid-row: 3;
    grid-column: 3;
    grid-column-start: 1;
    grid-column-end: 9;
    
}
#item4 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#item5 {
    grid-row: 6;
    grid-column: 3;
    grid-column-start: 1;
    grid-column-end: 9;
}
#item6 {
    grid-row: 7;
    grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 7;  
}
#item7 {
    grid-row: 8;
    grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 7;  
    display: flex;
    justify-content: center;
    align-items: center;
}
#item8 {
    grid-row: 9;
    grid-column: 3;
    grid-column-start: 1;
    grid-column-end: 9;  
    margin-bottom: 2em;
    
}

.navbar ul {
    background-color: rgb(199, 224, 225);
    height: 40px;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    list-style-type: none;

}

.navbar li {
    float: left;
}

.navbar a {
    color: rgb(3, 141, 109);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(119, 119, 118);
    color: rgb(199, 224, 225);
}

.navbar a:active {
    background-color: rgb(119, 119, 118);
    color: rgb(199, 224, 225);
    font-size: 1.1em;
}


#Projectcontainer a:visited {
    color: rgb(240, 174, 196);
}

#Projectcontainer a:hover {
    color: blueviolet;
    font-size: 1.5em;
}

#Projectcontainer a:active {
    color: rgb(117, 186, 163);
    font-size: 1.5em;
}

.projectlist li:hover {
    background-color: rgb(157, 202, 231);
}

.projectlist li:not(:hover) {
    background-color: rgb(119, 119, 118);
}

.projectlist li::marker {
    content: "🍕";

}

.main-content {
    flex: 1;
    margin-top: 130px;
    /* Allows this section to take up the remaining space */
}

.header {

    background-color: rgb(199, 224, 225);
    border-radius: 10px;
    position: fixed;
    /* cite from GPT */
    top: 0;
    left: 0;
    width: 100%;


}

footer {

    background-color: rgb(199, 224, 225);
    border-radius: 10px;
    font-style: italic;





}

.Title {
    text-align: center;

}

.topbutton {
    background-color: rgb(234, 227, 241);
    border: none;
    /* width: 150px; */
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    display: inline;

}


.bottombutton:hover {
    background-color: rgb(169, 233, 134);
}

.bottombutton:active {
    font-size: 1.2em;

}

.rounded {
    height: 200px;


}

.rounded1 {
    height: 200px;
    float: left;
}

.Interest1 {
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    /* margin-left: 46%; */

}

#Projectimg {
    width:16em;
    display: flex;
    flex-direction: column;

}
#Projectimg1 {
    height: 60px;
    display: flex;
    flex-direction: column;

}

#Projectcontainer {
    background: rgb(119, 119, 118);
    width: 50%;
    height: 30%;
    padding: 10px;
    border-radius: 5px;
}

.imgcontainer {
    width: 200px;
    background-color: rgb(155, 173, 226);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    height: 250px;
    border-radius: 10px;

}


#container {
    margin-top: 120px;

}

#container p {
    color: rgb(175, 248, 248);
}

#h1 {
    font-style: italic;
    font-weight: bold;

}

#h2,
#h3 {
    font-style: italic;
    font-weight: bold;
    background-color: rgb(145, 145, 219);
    width: auto;
    color: antiquewhite;
    text-align: center
}

.bottombutton {
    display: flex;
    background-color: rgb(234, 227, 241);
    border: none;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

}

.web {
    width: 620px;
    height: 880px;

}

.result {
    margin-bottom: 10px;
}

.result span {
    font-weight: bold;
}

.table {
    background-color: white;
    width: 100%;
}

.tr {
    background-color: bisque;
}

#video {
    width: 600px
}